@import url('scroll-menu.css');
html,
body {
    height: 100%;
    font-family: 'Raleway', sans-serif !important;
}
.bg-image{
    background-image: url('/moa/web/images/expresso.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 85rem;
    border-bottom: transparent !important;
}
.site-login{
    background:#fff;
    padding: 3rem;
    border-radius: 1rem;
}
.glyphicon{
    line-height: 1.25 !important;
}
.navbar-inverse{
    opacity: .9;
}
a.rol-user {
    color: #fff;
    font-size: x-large;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.wrap > .container {
    padding: 70px 15px 0px;
}
.footer {
    border-top: 1px solid #222;
    padding: 20px;
    background-color: #222;
    color: #fff;
}

.jumbotron {
    background: transparent;
    color: #fff;
    padding-top: 30rem;
    text-align: center;
}
.not-set {
    color: #c55;
    font-style: italic;
}
.menu{
    text-align: center;
    font-weight: 600;
    font-size: 4rem;
}
.gallery{
    background: #f8f9fa;
    margin-top: 70px;
}
span{
    font-size: 2rem;
    line-height: 3.25rem;
}
/* add sorting icons to gridview sort links */
a{
    color: #2c2c2c;
}
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

.button-link {
    background: #fff;
    color: #2c2c2c;
    width: 3.8rem;
    height: 3.8rem;
    border: solid 1px #f0f0f0;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    /*width: 30px;
    border-radius: 20px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;*/
}
.button-link:hover {
    background: #ffffff;
    color: #222222;
    border: solid 1px #2A4E77;
    text-decoration: none;
}
.button-link:active {
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #2E5481;
    border: solid 1px #203E5F;
}

.button-send{
    margin-top: 20px;
}

.producto{
    font-weight: bold;
}
.col-md-4{
    padding-bottom: 15px;
    text-align: center;
    color: #2c2c2c;
}
.table{
    text-transform: uppercase;
}
span{
    border-bottom: dotted 1px #dcdcdc;
    display: block;
}
.center{
    text-align: center;
}
.btn {
    display: block;
}
.border{
    border: solid 1px #2c2c2c;
    margin-left: 0;
    margin-right: 0;
    border-radius: 5px;
}
.table-bordered{
    border: none !important;
}
.navbar-inverse {
    /*background-color: #fb787d;
    border-color: #fb787d;*/
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a, .navbar-inverse .btn-link {
    color: #fff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    /*color: #fff;
    background-color: #b3080f;*/
}
.btn_custom {
    /*background: #b3080f;
    color: #fff;*/
}
.btn_custom:hover {
    background: #fff;
    color: #2c2c2c;
    border: solid 1px #2c2c2c;
}
.img_logo{
    margin-top: -5px;
    width: 4rem;
}
.img-logo-index{
    width: 8rem !important;
}
.bolder{
    font-weight: bolder;
}
.navbar-inverse .navbar-toggle {
    border-color: #fff;
}
.bolder-responsive{
    display: none;
}
.img_index{
    width: 20px;
    height: 20px;
    margin-left: -20px;
}
.img_index_listo{
    width: 20px;
    height: 20px;
    display: flex;
}
.pedido_ctd {
    display: inline-flex;
    float: right;
    font-weight: 600;
    color: #b3080f;
}
.table-bordered{
    border-radius: 5px;
}

.bg-cafe>table>tbody>tr:nth-child(even),
.bg-lattes>table>tbody>tr:nth-child(even),
.bg-frias>table>tbody>tr:nth-child(even),
.bg-energy>table>tbody>tr:nth-child(even),
.bg-shake>table>tbody>tr:nth-child(even),
.bg-shake-fruit>table>tbody>tr:nth-child(even),
.bg-paninis>table>tbody>tr:nth-child(even),
.bg-salads>table>tbody>tr:nth-child(even),
.bg-hot-cakes>table>tbody>tr:nth-child(even),
.bg-respoteria>table>tbody>tr:nth-child(even),
.bg-postres>table>tbody>tr:nth-child(even)
{
    background: #f8f9fa
}

.table-striped>div:nth-child(even){
    background:linear-gradient(
      rgba(0, 0, 0, 0.1), 
      rgba(0, 0, 0, 0.1)
    );
}
.rigth{
    text-align: right;
}
th{
    text-align: center;
}
.btn-menos{
    border-right: none !important;
}
.btn-mas{
    border-left: none !important;
}
.input-value{
    border-left: none !important;
    border-right: none !important;
}
.row-view{
    border: solid 1px #2c2c2c;
    border-radius: 5px;
}
.row-view>div{
    text-align: center;
}
.a_status:hover{
    text-decoration: none;
    cursor: default;
}
.under_line{
    margin-bottom: 5px;
}
.despacho{
    display: -webkit-inline-box;
    padding: 2px 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    border: solid 1px #151313;
    font-size: small;
}
.despacho:hover{
    text-decoration: none;
    border: solid 1px red;
    background: #fff;
    color: #2c2c2c;
}
.comandas_index>div,
.comandas_index>div>span{
    font-size: 1.5rem !important;
}
 @media screen and (max-width: 767px) and (min-width: 320px){
        a.rol-user {
        float: left;
        margin-left: 0;
        margin-top: 10px;
    }
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
    .responsive{
        display: inline-flex;
        border: solid 1px #fff;
        padding: 5px;
    }
    .title{
        border: none;
        font-weight: 600;
    }
    .col-md-7 {
        text-align: left;
        display: inline-table;
        width: 160px;
    }
    
    .col-md-5{
        width: 160px;
        display: inline-table;
    }
    .col-md-4{
        margin: 5px;
        padding-left: 5px;
        padding-right: 5px;
        display: inline-table;
    }
    
    .col-md-1 {
        width: 30px;
        padding: 5px 0px;
    }
    .col-xs-1, .col-xs-2, .col-xs-3{
        display: inline-block;
        width: 100%;
        text-align: center;
        border-bottom: solid 1px #cac6c6
    }
    .pull-left{
        float:none !important;
    }
    .row-responsive{
        border: solid 1px #2c2c2c;
    }
    .bolder-responsive{
        display: block;
    }
    .bolder{
        display: none;
    }
    .img_index{
    width: 20px;
    height: 20px;
    margin: inherit;
    }
    .view-responsive{
        max-width: 50%;
        width: 50%;
    }
    .flex{
        display: flex;
    }
    .row-view>.col-sm-2, .flex{
        border-bottom: solid 1px #2c2c2c;
        padding-bottom: 5px;
    }
    .under_line{
        border-bottom: dashed 1px #6f6e6e;
    }
    .glyphicon {
        font-size: 2rem;
    }
    .grid{
        width: 100%;
        border-bottom: solid 1px #2c2c2c;
    }
    .left-responsive{
        text-align: left !important;
    }
    .tb-comandas-view{
        margin-bottom: 2rem;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
